<div class="row">

	<div class="jumbotron">
	  <h1>Hello, <%= @portals.find(4).area%></h1>
	  <div class="bs-example">
<div class="embed-responsive embed-responsive-16by9">

<iframe class="embed-responsive-item" src="<%= @portals.find(6).url%>" allowfullscreen=""/>
</div>
</div>
	  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>
  
</div>