/*
 *My custom css 
 */

#info-bar{
    margin: 5px;
}

.navbar-brand {
    font-size: 25px;
}

#show-row{
	margin-left: 0px;
	margin-right: 0px;
}
.nav > li > a {
     font-size: 18px;
}

.jumbotron > h2{
	margin-bottom: 20px;
}

.navbar-right > li{
	margin-right: 20px;
}

body {
	margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}