<h2>
<% @members.each do |member| %>
	Name :<%= member.memberdetail.first_name %><br />
	Email:<%= member.memberdetail.email %><br />
	My target:<%= member.target %><br />
	My records:<% @records = member.record %>
		<% @records.each do |myRecord| %>
			<%= myRecord.weight %>
		<% end %>
		<br /><br />
<% end %>
</h2>
<h1>Hello, world!</h1>