<div class="panel panel-default">
	<div class="panel-heading"><h2>Member Summary</h2></div>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Plan</th>
			<th>Current Weight</th>
			<th>Target Weight</th>
			<th>Note</th>
			<th>More</th>
		</tr>
	</table>
</div>